<%- include("partials/header"); -%>


<h1>Contact</h1>
<p><%= contactContent %> </p>
<br>
<p>Name: Warsame Mire</p>
<br>
<p>Email: <a href="mailto:warsamemire@gmailcom">warsamemire@gmail.com</a> </p>
<br>
<p>Github: <a href="https://github.com/Warsame9">https://github.com/Warsame9</a></p>


<%- include("partials/footer"); -%>